# Dependency directories
/node_modules

# PWA files that can be re-generated
/index.old.html

# Environment variables
.env
.env.*
.env.local

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
/dist
/build
